<div class="col-md-6 panel-standard">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3> 投交履历到 <%= @job.title %>
    </div>

    <div class="panel-body">
      <p>
        <%= simple_form_for [@job, @resume] do |f| %>
          <%= f.input :content %>
          <%= f.input :attachment %>

          <%= f.submit "送出" %>
        <% end %>
      </p>
    </div>

  </div>
</div>
